
.cv{
    height: 1130px;
    width: 760px;
    border: 1px solid rgb(236, 230, 230);
    background-color: rgb(197, 208, 208);
    text-align: center;
    position: relative;
    margin: auto;
    box-shadow: 12px 25px 20px rgb(41, 37, 37);
}
.photo{
    height: 160px;
    width: 140px;
    background-image: url(cv2.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 50px;
}
.top{
    margin-top: 30px;
}
.carrer{
    height: 26px;
    width: 760px;
    background-color: rgb(18, 189, 41);
    margin-top: 93px;
    text-align: left;
}
.carrer_o{
    font-size: 18px;
}
.carrer h4{
    font-size: 18px;
    padding-top: 2px;
}
.div1{
    height: 100px;
    width: 760px;
    text-align: left;
}
.div1 b{
    font-size: 18px;
}
.education{
    background-color: rgb(18, 189, 41);
    width: 760px;
    height: 26px;
}
.table{
    margin-top: 20px;
    height: 90px;
    width: 760px;
}
table, tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 760px;
    text-align: center;
    font-size: 18px;
}
.Experience{
    width: 760px;
    height:26px;
    background-color: rgb(18, 189, 41);
}
.ul{
    width: 760px;
    height: 30px;
    font-size: 20px;
}
.communication{
    width: 760px;
    height: 26px;
    background-color: rgb(18, 189, 41);
    margin-top: 80px;
}
.communication_skill{
    width: 760px;
    font-size: 20px;
}
.communication_skill h3{
    margin-left: 15px;
}
.carrer h4{
    margin-left: 15px;
}
.carrer p{
    margin-left: 15px;
}
.div1 b{
    margin-left: 15px;
}
.date{
    display: inline-block;
    margin-top: 20px;
    position: relative;
}
.sign{
    display: inline-block;
    bottom: 30px;
    right: 50px;
    position: absolute;
}